<div class="card"
  style="width: 20rem;">

  <div class="card-body">
    <h4 class="card-title">{{ book.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ book.subtitle }}</h6>
    <p class="card-text">{{ book.abstract }}</p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ book.numPages }} pages</li>
    <li class="list-group-item">
      <i>written by</i>{{ book.author }}
    </li>
  </ul>

  <div class="card-body">
    <a href="#" class="card-link">Details</a>
  </div>
</div>
